.app {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background-color: #282c34;
  min-height: 100vh;
}

.note-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.note-icons svg {
  cursor: pointer;
  color: #000;
  transition: all 0.2s ease;
}

.note-icons svg:hover {
  color: #555;
  transform: scale(1.1);
}

.note-form, .note-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.note-form:hover, .note-card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.18);
}

input, textarea {
  border: none;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
  outline: none;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  resize: none;
}

textarea {
  min-height: 50px;
  max-height: 100vh;
  overflow-y: hidden;
}

button[type="submit"] {
  align-self: flex-end;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #555;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 0.8rem;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.note-card {
  width: auto;
}


.card-save-button {
  align-self: flex-end;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #555;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 0.8rem;
}

.card-save-button:hover {
  background-color: #0056b3;
}
